<!--
    - #HEADER
  -->

<header class="header">
  <div class="header-top">
    <div class="container">
      <ul class="contact-list">
        <li class="contact-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>

          <a href="mailto:mahesh.namodentalcare@gmail.com" class="contact-link"
            >mahesh.namodentalcare@gmail.com</a
          >
        </li>

        <li class="contact-item">
          <i class="fa fa-phone" aria-hidden="true"></i>

          <a href="tel:+919623453244" class="contact-link">+91-9623-453-244</a>
        </li>
      </ul>

      <ul class="social-list">
        <li>
          <a href="#" class="social-link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>

        <!-- <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="header-bottom" data-header>
    <div class="container">
      <a href="#" class="logo">Dentelo.</a>

      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">
          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#service" class="navbar-link" data-nav-link>Services</a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About Us</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li>

          <li>
            <a href="#" class="navbar-link" data-nav-link>Contact</a>
          </li>
        </ul>
      </nav>

      <a href="#" class="btn">Book appointment</a>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <i
          class="fa fa-bars menu-icon"
          name="menu-sharp"
          aria-hidden="true"
        ></i>
        <i
          class="fa fa-times close-icon"
          aria-hidden="true"
          name="close-sharp"
        ></i>
      </button>
    </div>
  </div>
</header>

<main>
  <article>
    <!--
        - #HERO
      -->

    <section
      class="section hero"
      id="home"
      style="background-image: url('./assets/images/hero-bg.png')"
      aria-label="hero"
    >
      <div class="container">
        <div class="hero-content">
          <p class="section-subtitle">Welcome To Namo Dental Care</p>

          <h1 class="h1 hero-title">We Are Best Dental Service</h1>

          <p class="hero-text">
            Namo Dental Care is a multi-specialty Dental clinic offering a full
            range of Dental services, such as Root Canal Treatment (RCT) and
            Oral Surgery, We make people look beautiful. Namo Dental Care was
            started with a vision to help people achieve the best version of
            themselves. Our goal has always been to provide quality treatment
            ethically and responsibly and add value to people's lives. All the
            dental treatments at our clinic are performed by specialists who
            have a Masters degree (MDS). We work by appointment only. It's all
            about making our patient's lives easier and making them look good.
          </p>

          <!-- <form action="" class="hero-form">
            <input
              type="email"
              name="email_address"
              aria-label="email"
              placeholder="Your Email Address..."
              required
              class="email-field"
            />

            <button type="submit" class="btn">Get Call Back</button>
          </form> -->
        </div>

        <figure class="hero-banner">
          <img
            src="./assets/images/hero-banner.png"
            width="587"
            height="839"
            alt="hero banner"
            class="w-100"
          />
        </figure>
      </div>
    </section>

    <!--
        - #SERVICE
      -->

    <section class="section service" id="service" aria-label="service">
      <div class="container">
        <p class="section-subtitle text-center">Our Services</p>

        <h2 class="h2 section-title text-center">What We Provide</h2>

        <ul class="service-list">
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-1.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Root Canal</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-2.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Alignment Teeth</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-3.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Cosmetic Teeth</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>

          <li class="service-banner">
            <figure>
              <img
                src="./assets/images/service-banner.png"
                width="409"
                height="467"
                loading="lazy"
                alt="service banner"
                class="w-100"
              />
            </figure>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-4.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Oral Hygiene</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-5.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Live Advisory</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-6.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Cavity Inspection</h3>

                <p class="card-text">
                  Aenean eleifend turpis tellus, nec laoreet metus elementum ac.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!--
        - #ABOUT
      -->

    <section class="section about" id="about" aria-label="about">
      <div class="container">
        <figure class="about-banner">
          <img
            src="./assets/images/about-banner.png"
            width="470"
            height="538"
            loading="lazy"
            alt="about banner"
            class="w-100"
          />
        </figure>

        <div class="about-content">
          <p class="section-subtitle">About Us</p>

          <h2 class="h2 section-title">We Care For Your Dental Health</h2>

          <p class="section-text section-text-1">
            We at Namo Dental Care Multispeciality Dental Clinic embodies the
            ethos of Patient-friendly, Cost effective and Complete dental
            solutions. We always believe in ethical practice and our vision to
            provide best class dental treatments to our patients to ensure that
            patient can complete all dental and oral check ups in a single
            visit. We are providing dental services with the help of advanced
            technologies and requirements.
          </p>

          <p class="section-text">
            We have expertise in all the essential and most recent dental
            services including Root Canal, Crowns, Bridges, Dentures, Laser
            Teeth Whitening, Wisdom Tooth Extraction, Cosmetic Laser Dentistry,
            Pediatric Dentistry, Teeth Straightening, Cosmetic Gum Treatment.
          </p>

          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </section>

    <!--
        - #DOCTOR
      -->

    <section class="section doctor" aria-label="doctor">
      <div class="container">
        <p class="section-subtitle text-center">Our Doctor</p>

        <h2 class="h2 section-title text-center">Best Expert Dentist</h2>

        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="assets/images/mahesh-photo.jpg"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Howard Holmes"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Mahesh Choure</a>
              </h3>

              <p class="card-subtitle">Orthodontist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="assets/images/rupali-photo.jpg"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Ella Thompson"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Rupali Choure</a>
              </h3>

              <p class="card-subtitle">Endodontist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-3.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Vincent Cooper"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Vincent Cooper</a>
              </h3>

              <p class="card-subtitle">Dentist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-4.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Danielle Bryant"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Danielle Bryant</a>
              </h3>

              <p class="card-subtitle">Dentist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!--
        - #CTA
      -->

    <section class="section cta" aria-label="cta">
      <div class="container">
        <figure class="cta-banner">
          <img
            src="./assets/images/cta-banner.png"
            width="1056"
            height="1076"
            loading="lazy"
            alt="cta banner"
            class="w-100"
          />
        </figure>

        <div class="cta-content">
          <p class="section-subtitle">Book Dentail Appointment</p>

          <h2 class="h2 section-title">We Are open And Welcoming Patients</h2>

          <a href="#" class="btn">Book appointment</a>
        </div>
      </div>
    </section>

    <!--
        - #BLOG
      -->

    <section class="section blog" id="blog" aria-label="blog">
      <div class="container">
        <p class="section-subtitle text-center">Our Blog</p>

        <h2 class="h2 section-title text-center">Latest Blog & News</h2>

        <ul class="blog-list">
          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="assets/images/blog-1.jpg"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Cras accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  <time class="time" datetime="2022-03-24"
                    >24th March 2022</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a
                    href="https://www.medicalnewstoday.com/articles/142780"
                    target="_blank"
                    class="card-title"
                    >What is root canal treatment?</a
                  >
                </h3>

                <p class="card-text">
                  Root canal treatment, also known as root canal therapy or
                  endodontic therapy, is a dental treatment for removing an
                  infection from inside a tooth. It can also protect the tooth
                  from future infections.
                </p>

                <a
                  href="https://www.medicalnewstoday.com/articles/142780"
                  target="_blank"
                  class="card-link"
                  >Read More</a
                >
              </div>
            </div>
          </li>

          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="assets/images/blog-2.jpg"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Dras accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  <time class="time" datetime="2022-03-24"
                    >24th March 2022</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a
                    href="https://barriedentist.ca/big-mouth-blog/general-dental-articles/how-to-straighten-one-tooth"
                    target="_blank"
                    class="card-title"
                    >What is teeth alignment?</a
                  >
                </h3>

                <p class="card-text">
                  Single tooth straightening is both possible and more common
                  than you think. There are several treatment options and each
                  patient must decide the lengths they are willing to go to fix
                  one tooth.
                </p>

                <a
                  href="https://barriedentist.ca/big-mouth-blog/general-dental-articles/how-to-straighten-one-tooth"
                  target="_blank"
                  class="card-link"
                  >Read More</a
                >
              </div>
            </div>
          </li>

          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="assets/images/blog-3.jpg"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Seas accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  <time class="time" datetime="2022-03-24"
                    >24th March 2022</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a
                    href="https://my.clevelandclinic.org/health/diseases/10946-cavities"
                    target="_blank"
                    class="card-title"
                    >What are the signs of cavities?</a
                  >
                </h3>

                <p class="card-text">
                  Cavities are holes, or areas of tooth decay, that form in your
                  teeth surfaces. Causes include plaque buildup, eating lots of
                  sugary snacks and poor oral hygiene.
                </p>

                <a
                  href="https://my.clevelandclinic.org/health/diseases/10946-cavities"
                  target="_blank"
                  class="card-link"
                  >Read More</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>

<!--
    - #FOOTER
  -->

<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">Namo.</a>

        <p class="footer-text">
          A team of dentists working to ensure you receive the best treatment.
          Visit Namo Dental Care on these social links and connect with us. Make
          sure to follow our accounts for regular updates.
        </p>

        <div class="schedule">
          <div class="schedule-icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>

          <span class="span">
            Monday - Saturday:<br />
            10:00 AM - 02:00 PM <br />
            05:00 PM - 09:00 PM
          </span>
        </div>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Other Links</p>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Home</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">About Us</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Services</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Project</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Our Team</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Latest Blog</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Our Services</p>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Root Canal</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Alignment Teeth</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Cosmetic Teeth</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Oral Hygiene</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Live Advisory</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <i class="fa fa-plus" aria-hidden="true"></i>

            <span class="span">Cavity Inspection</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Contact Us</p>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>

          <address class="item-text">
            Rajiv Gandhi Chowk, Opp. SBI Bank, Canal Road, Beed-431122
          </address>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>

          <a href="tel:+917052101786" class="footer-link">+91-9623-453-244</a>
        </li>
        <li class="footer-item">
          <div class="item-icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>

          <a href="tel:+917052101786" class="footer-link">+91-9420-798-588</a>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>

          <a href="mailto:mahesh.namodentalcare@gmail.com" class="footer-link"
            >mahesh.namodentalcare@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div class="google-location-map-caontainer" *ngIf="apiLoaded | async">
      <google-map
        #myGoogleMap
        height="400px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
      >
        <map-marker
          #markerElem="mapMarker"
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
        >
        </map-marker>
      </google-map>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">&copy; 2023 All Rights Reserved by sachin-dane.</p>

      <ul class="social-list">
        <li>
          <a
            class="social-link"
            href="https://www.facebook.com/sachindane4"
            target="_blank"
          >
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/sachin_dane/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
            target="_blank"
            class="social-link"
          >
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a
            href="https://in.linkedin.com/in/sachin-dane-66313983"
            class="social-link"
            target="_blank"
          >
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/sachin-dane"
            target="_blank"
            class="social-link"
          >
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!--
    - #BACK TO TOP
  -->

<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
  <i class="fa fa-caret-up" aria-hidden="true"></i>
</a>
